[submodule "meta-hype"]
	path = meta-hype
	url = https://github.com/cjp256/meta-hype.git
[submodule "meta-measured"]
	path = meta-measured
	url = https://github.com/flihp/meta-measured.git
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "meta-intel"]
	path = meta-intel
	url = git://git.yoctoproject.org/meta-intel
[submodule "openembedded-core"]
	path = openembedded-core
	url = https://github.com/cjp256/oe-core.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
[submodule "meta-virtualization"]
	path = meta-virtualization
	url = https://github.com/cjp256/meta-virtualization.git
